.hypnosis, .record, .record * {border-radius: 100%;}
.hypnosis {
    width: 325px;
    height: 325px;
    background-image: url('../img/spiral.jpg');
    background-size: contain;
    animation: spinReverse 1s linear infinite;
}
@keyframes spinReverse {
    from {transform: none;}
    to {transform: rotate(-360deg);}
}
/*  */
.box {
    background-color: yellow;
    width: 200px;
    height: 200px;
    position: relative;
    z-index: 1;
    animation-name: myMove;
    animation-duration: 4s;
    animation-delay: 1.5s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}
@keyframes myMove {
    0% {background-color: yellow; transform: none; border-radius: 0 0 0 0;}
    25% {background-color: red; transform: translateX(300px); border-radius: 50% 0 0 0;}
    50% {background-color: rgb(56, 119, 56); transform: translate(300px, 300px); border-radius: 50% 50% 0 0;}
    75% {background-color: blue; transform: translateY(300px); border-radius: 50% 50% 50% 0;}
    100% {background-color: yellow; transform: none; border-radius: 50% 50% 50% 50%;}
}
/*  */
.record, .groove, .center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.record {
    width: 600px;
    height: 600px;
    /* background-color: var(--black); */
    background-image: url('../img/thriller.jpg');
    background-size: contain;
}
.groove {
    width: 400px;
    height: 400px;
    background-image: url('../img/thriller.jpg');
    background-size: 600px 600px;
    background-position: -100px -100px;
    z-index: 0;
    animation: myMove2 10s linear forwards;
    animation-direction: alternate;
}
@keyframes myMove2 {
    from{transform: none;}
    to{transform: rotate(360deg);}
}
.center {
    width: 200px;
    height: 200px;
    background: radial-gradient(circle, rgba(255,0,0,1) 21%, rgba(255,75,112,0.9911) 90%);
}
.dot {
    width: 10px;
    height: 10px;
    background-color: #ddd;
}
/* */
.grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
}
.parent {
    width: 200px;
    height: 200px;
    background-color: teal;
}
.enfant {
    width: 100px;
    height: 100px;
    background-color: tomato;
}
#parent1:hover #enfant1 {
    transform: translateX(100%);
}
#enfant2 {
    transition: transform 1s;
}
#parent2:hover #enfant2 {
    transform: translateX(100%);
}
#enfant3 {
    transition: 2s;
}
#parent3:hover #enfant3 {
    background-color: wheat;
    transform: translateX(100%);
}
#enfant4 {
    transition: transform 2s cubic-bezier(0.7, 0.04, 0.66, 1.71);
}
#parent4:hover #enfant4 {
    transform: translateX(100%);
}
#enfant5 {
    transition: 2s 1.2s;
}
#parent5:hover #enfant5 {
    background-color: wheat;
    transform: translateX(100%);
}